* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.fondo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.contenedor {
    width: 100%;
    height: 700px;
    padding: 110px 0 0 0;
    position: absolute;
    z-index: 10;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(7, 50px);
    grid-gap: 7px 8px;
    background: rgba(62, 60, 60, 0.9);
    width: 300px;
    height: 530px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    border-radius: 15px;
    border: 1px solid lightblue;
    box-shadow: #094c66 7px 5px 0px;
}

.calculadora div {
    font-size: 20px;
    padding: 10px;
}

.calculadora button {
    font-size: 18px;
}

.calculadora .boton{
    background-color: #1197cc;
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
    cursor: pointer;
    text-align: center;
    outline:none;
    border: none;
}

.calculadora .boton:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}

.head {
    grid-column: 1/span 4;
    width: 100%;
    grid-row: 0;
    align-content: flex-start;
}

.pantalla {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: flex-end;
    grid-column: 1 / span 4;
    grid-row: 2 /span 3;
    color: white;
    height: 150px;
    background: rgba(36,36,36,0.8);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: #094c66 -4px -4px 0px,
    #094c66 1px 1px 0px;
}

.cero {
    grid-column: 1 / span 2;
}

@media only Screen and (min-width: 1500px) {
    .calculadora {
        width: 350px;
        height: 545px;
        grid-template-rows: repeat(7, 55px);
        grid-gap: 3px 7px;
        box-shadow: #094c66 10px 8px 0px;
    }
    .calculadora div {
        font-size: 30px;
    }
    .calculadora .boton {
        height: 50px;
    }
}