* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#safari {
    color: #000;
    opacity: 1;
    }

body {
    font-family: sans-serif;
    height: 99vh;
    background: black;
}

.abajo{
    font-size:16px;
}
.arriba {
    font-size: 19px;
}
.fondo {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.contenedor {
    width: 100%;
    height: 600px;
    padding-top: 50px;
    position: absolute;
    z-index: 10;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(7, 50px);
    grid-gap: 6px 8px;
    background: rgba(62, 60, 60, 0.9);
    width: 300px;
    height: 510px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgba(173, 216, 230,0.6);
    box-shadow: #094c66 7px 5px 0px;
}

.calculadora div {
    font-size: 20px;
    padding: 10px;
    margin: 0 5px;
}

.calculadora .boton{
    font-size: 18px;
    color: #000;
    background-color: #1197cc;
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
    cursor: pointer;
    text-align: center;
    outline:none;
    border: none;
    height: 45px;
    margin: 1px 3px;
}

.calculadora .boton:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}

.head {
    grid-column: 1/span 4;
    width: 100%;
    grid-row: 0;
    align-content: flex-start;
    color: rgba(146, 208, 233, 0.9);
}

.pantalla {
    font-family: monospace;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: flex-end;
    grid-column: 1 / span 4;
    grid-row: 2 /span 3;
    color: white;
    height: 150px;
    background: rgba(36,36,36,0.8);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: #094c66 -4px -4px 0px,
    #094c66 1px 1px 0px;
}
.cero {
    grid-column: 1 / span 2;
}


.sociales {
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 100;
    font-size: 30px;
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    padding-bottom: 10px;
    margin-left: 10px;
}
.sociales a{
    text-decoration: none;
    color: rgb(250, 250, 250);
    cursor: pointer;
    display: block;
}
a:hover{
    color: #094c66;
}

.copy {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    font-size: 30px;
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    margin-left: 22px;
    height: 10px;
}

.copy p {
    color: white;
    font-size: 15px;
    text-align: right;
}

@media only screen and (min-width: 1024px){
    .contenedor {
        padding-top: 100px;
    }
    .sociales {
        flex-direction: column;
        height: 100%;
        align-items:center;
        justify-content: center;
        margin-left: 10px;
        padding-top: 20px;
    }

    .sociales a{
        margin: 25px 20px;
        text-align:end;
        font-size: 30px;
    }

    .copy {
        bottom: 13px;
        left: 20px;

    }
}


@media only Screen and (min-width: 1400px) {
    .calculadora {
        width: 350px;
        height: 545px;
        grid-template-rows: repeat(7, 55px);
        grid-gap: 5px 5px;
        box-shadow: #094c66 10px 8px 0px;
    }
    .calculadora div {
        font-size: 30px;
    }
    .calculadora .boton {
        height: 48px;
        margin: 1px 5px;
    }
    .arriba {
        font-size: 27px;
    }
    .abajo {
        font-size: 21px;
    }
}